@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  box-sizing: border-box;
}

html {
  background: #fafafa
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: rgb(72, 72, 72);
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

.clearfix, .clearfix:before, .clearfix:after {
  content: "";
  clear: both;
  display: table;
}

#content {
  padding-top: 50px;
  max-width: 768px;
  margin: 0 auto;
}

#content h1 {
  text-align: center;
}

#recipe-form {
  text-align: center;
}

#recipe-form #recipe-input {
  display: inline-block;
  width: 100%;

  font-size: 1em;

  box-shadow: rgb(220, 224, 224) 0px 1px 3px 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 15px 16px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 224, 224);
  border-radius: 4px;
  outline: none;
}

#recipe-form #recipe-search-button {
  display: inline-block;

  color: #fff;
  font-size: 1.15em;
  font-weight: 700;

  border: solid 0 #e3edf4;
  border-bottom: 2px solid #e76969;
  border-radius: 4px;
  outline: none;

  background: #f47e7e;

  padding: 8px 20px;
  margin: 7px;

  cursor: pointer;
}

#recipe-form #recipe-search-button.inactive {
  background: #ccc;
  border-bottom-color: #bbb;
}

#recipe-form .recipe-transforms {
  margin-top: 15px;
  margin-bottom: 10px;
}

#recipe-form .recipe-transforms .Select {
  width: 32%;
  display: inline-block;
  min-width: 100px;
}

#recipe-form .recipe-transforms .Select:first-child, #recipe-form .recipe-transforms .Select:nth-child(2)  {
  margin-right: 2%;
}

#recipe {
  padding: 20px;
  background: #fff;
}

#recipe #title {
  margin-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

#recipe #title h2 {
  margin-top: 0px;
}

#recipe .recipe-content {
  padding: 5px;
}

#recipe .recipe-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#recipe .recipe-content .row {
  width: 100%;
  margin-bottom: 20px;
}

#recipe .recipe-content .row > div {
  display: inline-block;
  float: left;
}

#recipe .recipe-content .row > div:first-child {
  margin-right: 20px;
}

/* CSS LOADER */
.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
