<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EECS 337: Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div id="content">
      <h1>Search a recipe and make a transformation</h1>
      <form id="recipe-form" onsubmit="return onRecipeSubmit()">
        <input id="recipe-input" placeholder="Find a recipe..."/>
        <input id="recipe-search-button" type="submit" value="Submit" />
      </form>
    </div>

    <script src="{{ url_for('static', filename='js/recipes.js') }}" type="text/javascript"></script>
  </body>
</html>